*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #3498DB 0%, #48C9B0 100%) ;
}

.container{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 3rem;
    max-width: 700px;
    border-radius: 20px;
    background-color: #EBF5FB;
    box-shadow: 0 0 60px;
    
}

h1{
    font-family: Helvetica, sans-serif;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: #5d6d7ead ;
}



#inputString{
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #9ea7b354;
}
#inputString::placeholder{
    color: #148F77;
}
#countButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin: 15px 9rem;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color:#148F77 ;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 0 0 20px #0E6251 ;
}

#result{
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    padding: 8px;
    margin: 15px;
}

